* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #d9ead3;
    --secondary-color: #274e13;
}

body {
    background-color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}

section {
    padding: 20px;
    border-bottom: 2px solid #93c47d;
}

.section-title {
    color: var(--secondary-color);
    font-size: 2vw;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* header & nav */
header {
    background: var(--secondary-color);
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #38761d;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
    
}

header h1 a{
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    color: var(--primary-color);
    font-size: 3vw;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin: 15px;
}

header nav ul li a {
    color: #93c47d;
    text-decoration: none;
    font-size: 1.8vw;
    padding: 20px;
}

header nav ul li a:hover {
    background: #38761d;
    color: #d9ead3;
    font-size: 2vw;
}

/* about me */

.about-me {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

#about-me {
    padding-bottom: 0;
}

.about-me-img-container {
    width: 48%;
}

.about-me-img {
    width: 50%;
    height: 85%;
    display: flex;
    margin: auto;
    border: 2px solid #274e13;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    align-items: left;
}

.about-me-description {
    width: 48%;
}

.about-me-description h2 {
    color: var(--secondary-color);
    font-size: 2vw;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.about-me-description p {
    font-size: 1.5vw;
    width: 80%;
    text-align: left;
}

.about-me-description p a {
    color: black;
}

/* Projects */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bigger-project {
    padding: 5px;
    margin-bottom: 10px;
    width: 48%;
    border: 3px solid #274e13;
}

.smaller-project {
    padding: 5px;
    margin-bottom: 10px;
    border: 3px solid #274e13;
    width: 24%;
}

.project:hover, .project-name:hover {
    background: #274e13;
    color:#d9ead3
}

.project img {
    width: 100%;
    height: 90%;
}

.project-name {
    color: black;
    height: 10%;
    font-size: 1.5vw;
}

/* contact info */
.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-info h3 {
    font-size: 1.5vw;
    padding: 10px;
}

.contact-info a {
    color: black;
    font-size: 1.3vw;
}

.contact-info a:hover {
    color: var(--secondary-color);
    font-size: 1.5vw;
}