* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --section-background-color: #d9ead3;
    --section-title-color: #274e13;
}

body {
    background-color: var(--section-background-color);
    font-family: Arial, Helvetica, sans-serif;
}

section {
    padding: 50px;
    border-bottom: 1px solid #38761d;
}

.section-title {
    color: var(--section-title-color);
    font-size: 2vw;
    margin-bottom: 10px;
}

/* header & nav */
header {
    background: var(--section-background-color);
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #38761d;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
    
}

header h1 a{
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    color: var(--section-title-color);
    font-size: 3vw;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin: 15px;
}

header nav ul li a {
    color: #38761d;
    text-decoration: none;
    font-size: 1.8vw;
    padding: 20px;
}

header nav ul li a:hover {
    background: #38761d;
    color: #d9ead3;
}

/* about me */
.about-me img {
    width: 40%;
    height: 45%;
    display: flex;
    margin: 0 auto;
    border: 5px solid #274e13;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.about-me-description {
    padding: 20px;
    text-align: center;
}

.about-me-description p {
    font-size: 1.5vw;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.project{
    padding: 5px;
}
.project img {
    width: 30%;
    height: 20%;
}

.project h3 a{
    color: black;

}